*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
    background-color: #ebebeb;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 70.5%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    z-index: 100;
    transition: all 1.5s ease;
}
.navbar{
    display: flex;
    margin-right: 5px;
}
.logo{
    margin-left: 30px;
    background: url(IMG/logo.webp);
}
.logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a{
    display: block;
    padding: 15px 18px;
    color: rgba(0, 128, 10, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
}
.navbar a:hover{
    background-color: #ffffff;
}
.navbar a.btnlogin {
    background-color: black;
    color: white;
}
.navbar a.btnlogin:hover{
    background-color: rgba(0, 128, 10, 1);
}
.grupbar{
    display: flex;
    position: absolute;
    right: 30%;
}
/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 100vh !important;
    background: url(IMG/fondo.png) no-repeat center;
    background-size: cover;
} */
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0 100px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(0, 128, 10, 1);
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: rgba(0, 128, 10, 1);
}
.btn:hover{
    background: none;
}
.btn-home{
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}
.content{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
}
.sau{
    padding: 30px;
    background: #ebebeb;
}

.about {
    background: #ebebeb;
}
.imgs {
    background: url(IMG/fondo10.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.slider {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide-track {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(1000px * 5);
}

.slider .slide {
    width: 1000px;
}

.slider .slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.500), -10px 0 16px rgb(0, 4, 26), 10px 0 16px rgb(0, 27, 17);
}
  


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


.mapandcomme {
    padding: 30px;
    background: #ebebeb;
    padding-top: 0;
}


.dark .sau{
    color: white;
    background: #06141D;
    transition: all 1.5s ease;
}
.dark .about{
    color: white;
    background: #06141D;
    transition: all 1.5s ease;
}
.dark .mapandcomme{
    color: white;
    background: #06141D;
    transition: all 1.5s ease;
}

.dark h2{
    color: white;
    transition: all 1.5s ease;
}
.dark p{
    color: white;
    transition: all 1.5s ease;
}
.dark .header{
    background: linear-gradient(180deg, #06141D, #06141d54, #06141d00);
    transition: all 1.5s ease;
}

#modo{
    transition: all 1.5s ease;
    position: fixed;
    z-index: 100;
    top: 90%;
    left: 95%;
    font-size: 3rem;
    cursor: pointer;
}


footer{
    background: #000000;
    padding-top: 80px;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    right: 10%;
}
.footer-content{
    width: 33.3%;
}
h3{
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: rgba(0, 128, 10, 1);
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(0, 128, 10, 1);
}
.footerend{
    width: 91%;
    display: flex;
    margin: auto;
    position: relative;
    padding: 1rem;
    gap: 25%;
}
.listend{
    display: flex;
    position: relative;
}





@media (max-width: 768px) {
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height:  120vh;
    }
    .navbar{
        display: none;
    }
}