*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: vivo;
    src: url(./Media/Fonts/COMIC.TTF);
}

body{
    font-family: "vivo";
}

.head{
    background-image: url(./Media/Fondos/Río.jpg);
    background-size: cover;
    height: 50vh;
}

nav{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.12);
}

.logo{
    height: 100%;
    width: 3%;
    display: flex;
    margin-left: 70px;
}

.pnav{
    display: flex;
    gap: 50px;
}

.ps{
    color: aliceblue;
}

.ps1{
    margin-left: 60vw;
}

.btnnav{
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnr{
    font-family: "vivo";
    background-color: #5ec350;
    height: 4vh;
    width: 6vw;
    border-style: none;
    border-radius: 50px;
    margin-left: 25px;
    padding-bottom: 2px;
    color: aliceblue;
}

.nosotros{
    display: flex;
    height: 50vh;
}

.nosleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosright{
    background-color: aquamarine;
    display: flex;
    width: 50%;
}

.somos{
    width: 40vw;
    height: 13vh;
    margin-top: -7vh;
    padding: 10px;
    background-color: #d9ebd0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}

.servicios{
    background-color: aliceblue;
    width: 40vw;
    height: 20vh;
    margin-top: 4vh;
    border: 2px solid;
    border-radius: 7px;
}