*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 5px;
}
.logo{
    margin-left: 30px;
    background: url(IMG/logo.webp);
}
.logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 60px;
}
.navbar a:hover{
    background-color: #3f3f3f;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 100vh !important;
    background: url(IMG/fondo.png) no-repeat center;
    background-size: cover;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    padding: 0 100px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgba(0, 128, 10, 1);
    color: white;
    text-decoration: none;
    background: rgba(0, 128, 10, 1);
}
.btn:hover{
    background: none;
}
.btn-home{
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}
.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau{
    padding: 30px;
    background: #0c0c0c;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgb(0, 0, 0);
    margin: 2rem;
}
.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: rgba(0, 128, 10, 1);
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3{
    font-size:  28px;
    color: rgba(0, 128, 10, 1);
}
.box-container .box p{
    font-size: 16px;
    padding: 0 15px;
}
.about {
    background: #171717;
}
.price {
    background: url(IMG/fondo2.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.contact {
    padding: 30px;
    background: #171717;
    padding-top: 0;
}
@media (max-width: 768px) {
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height:  120vh;
    }
    .navbar{
        display: none;
    }
}