.galeria {
    display: grid;
    height: 22vh;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.534);
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        min-height: 100px;
    }
}

.sec {
  position: relative;
  height: 100%;
}


.sec:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.684);
}

.sec:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* ---- ETIQUETAS DE TEXTO ---- */
.sec1::after {
  content: "Fauna";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec1:hover::after { opacity: 1; }

.sec2::after {
  content: "Flora";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec2:hover::after { opacity: 1; }

.sec3::after {
  content: "Río";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec3:hover::after { opacity: 1; }

.sec4::after {
  content: "Cabañas";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec4:hover::after { opacity: 1; }

.sec5::after {
  content: "Puentes";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec5:hover::after { opacity: 1; }

.sec6::after {
  content: "Cabalgatas";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec6:hover::after { opacity: 1; }

.sec7::after {
  content: "Experiencias";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec7:hover::after { opacity: 1; }

.sec8::after {
  content: "Jacuzzis";
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.sec8:hover::after { opacity: 1; }

/* ---- GRILLAS ---- */
.sec1{ grid-column: 1; overflow: hidden; }
.sec2{ grid-column: 2; overflow: hidden; }
.sec3{ grid-column: 3; overflow: hidden; }
.sec4{ grid-column: 4; overflow: hidden; }
.sec5{ grid-column: 5; overflow: hidden; }
.sec6{ grid-column: 6; overflow: hidden; }
.sec7{ grid-column: 7; overflow: hidden; }

.sec1 img { height: 150%; }
.sec2 img { height: 120%; }
.sec3 img { height: 110%; scale: 1.1; }
.sec4 img { height: 120%; }

.sec5 img {
    height: 160%;
    transform: translate(-11px, -10px);
    transition: transform 0.5s ease-in-out;
}
.sec5:hover img {
    transform: translate(-11px, -10px) scale(1.1);
}

.sec6 img {
    height: 150%;
    transform: translate(-10px, -50px);
    transition: transform 0.5s ease-in-out;
}
.sec6:hover img {
    transform: translate(-10px, -50px) scale(1.1);
}

.sec7 img { height: 120%; }

/* ---- ESTILOS DEL MODAL ---- */
.modal-overlay {
  margin-top: 3.8%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: red;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.modal-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.modal-images img {
  max-width: 225px;   /* límite de ancho */
  max-height: 225px;  /* límite de alto */
  width: auto;        /* mantiene proporción */
  height: auto;       /* mantiene proporción */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  object-fit: contain; /* asegura que no se deforme */
}


.modal-pagination{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
