* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: comic;
}

/* estilos del Login */
.font-login{
    background-color: #ffffffd3;
    height: 100%;

}

.maindiv {
    background-image: url(../../../assets/Fondos/fondo666.png);
    height: 100vh;
    background-position: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/* .arrow-icon {
    width: 50px;
    height: 50px;
    margin-right: 90rem;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow-icon:hover {
    color: rgba(0, 128, 10, 1);
} */

.divlogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4bac35;
    border-radius: 15px;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.divlogin h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #F1EDEE;
    font-weight: normal;
}

.inputslogin {
    margin-bottom: 20px;
}

.inputslogin label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputslogin input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#F1EDEE;
    font-size: 16px;
}

.password-div {
    position: relative;
}

.password-div .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
}

.toggle-password svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #555;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.remember-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #F1EDEE;
}

.check {
    display: flex;
    align-items: center;
}

.check input {
    margin-right: 5px;
}

.forgot-password {
    position: relative;
    display: inline-block; 
    color: #F1EDEE;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.forgot-password::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F1EDEE;
    transition: width 0.3s ease;
}

.forgot-password:hover::after {
    width: 100%;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #1A181B;
    color: #F1EDEE;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: #2BA998;
}

/* Division de los metodos de login */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #F1EDEE;
    font-size: 14px;
}

.divider span {
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 4px solid #F1EDEE;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}


.circle-left,
.circle-right {
    position: relative;
    width: 0;
    height: 0;
}

/* Círculo en el extremo izquierdo */
.circle-left::before {
    content: "";
    position: absolute;
    left: -180px;
    top: 50%;
    width: 10px;
    height: 20px;
    background-color:#F1EDEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-50%);
}

/* Círculo en el extremo derecho */
.circle-right::after {
    content: "";
    position: absolute;
    right: -180px;
    top: 50%;
    width: 10px;
    height: 20px;
    background-color:#F1EDEE;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateY(-50%);
}

/* estilo de metodos de login */

.login-method {
    display: flex;
    align-items: center;
    justify-content: center;
}

.method {
    margin-right: 20px;
}

.method img {
    border-radius: 50%;
    height: 55px;
}
.method.apple {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
}
.method .Apple{
    margin-top: 4px;
    height: 49px;
}

.method.google{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
}

.method .Google{
    margin-top: 7px;
    height: 45px;
}
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.register h3 {
    font-size: 20px;
    font-weight: bold;
    color: #F1EDEE;
}

.registro {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:#F1EDEE;
    text-decoration: none;
}

.registro::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F1EDEE;
    /* o el color que quieras */
    transition: width 0.3s ease;
}

.registro:hover::after {
    width: 100%;
}

