.nav {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: rgb(240, 248, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.256);
    overflow: hidden;
    transition: all 1.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    box-sizing: border-box;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-user{
    color: #1A181B;
}

.imgven {
    height: 60px; 
}

.imgvivo {
    margin-left: 10px;
    height: 35px; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
            color: #1A181B;
}

.btnav {
    width: auto; 
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: inherit;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 10px; 
    padding: 1px 11px; 
    transition: background-color 0.3s ease;
}

.btnav:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.btnlog {
    width: auto; 
    height: 2.5rem;
    background-color: #52ab34;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: aliceblue;
    padding: 5px 15px; 
}

.btnlog:hover {
    background-color: #4cae4c;
}

/* media queries */
@media (max-width: 768px) {
    .nav {
        height: 10vh; 
    }

    .btnav {
        font-size: 16px; 
    }

    .btnlog {
        height: 2rem; 
    }

    .logos img {
        height: auto; 
        max-height: 50px;
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column; 
        height: auto; 
    }

    .navbar {
        flex-direction: column;
        margin-left: 0; 
    }

    .btnav {
        width: 100%;
        margin: 5px 0; 
    }
}
