.mid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 10vh;
    width: 100%;
    background-color: #5fbf3f;
}

.res {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1.5s ease;
    margin-bottom: 5rem;
    height: 20vh;
    position: relative; 
}

.line1 {
    border: 2px solid #1A181B;
    width: 100%;
}

.square1 {
    height: 20vh;
    width: 80vw;
    border: 3.5px solid #1A181B;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}